ops
*.bin
*.mdf
*.ldf
*.log
out.txt
*.gz
errorlog.*
errorlog
*.trc
*.xel
extlog
machine-key
src/web/root/.aspnet/DataProtection-Keys
src/data/mssql
src/clean-start.sh
src/secrets/*
src/obj
src/bin
src/data/mssql
# https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_206
src/data/postgres
src/data/*
