version: '3'
services:
  postgres:
    image: postgres
    hostname: postgres
# if you need to connect from outside, comment this in:
    ports:
      - 5432:5432
    env_file:
      - database.env # configure postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
 
  pgadmin:
    image: dpage/pgadmin4
    depends_on:
      - postgres
    ports:
      - 5555:80
    env_file:
      - admin.env # configure pgadmin
    restart: unless-stopped
 
volumes:
  postgres-data: