@model DisplayRecoveryCodesViewModel
@{
    ViewData["Title"] = "Your recovery codes:";
}

<h1>@ViewData["Title"].</h1>
<style>
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content {
        flex: 1;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding-top: 15px;
    }
</style>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Here are your new recovery codes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Codes:</dt>
        @foreach (var code in Model.Codes)
        {
            <dd>
                <text>@code</text>
            </dd>
        }
    </dl>
</div>