body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Carousel */
.carousel-caption {
    z-index: 10;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10;
    }
}

/* Chart Styles */
.canvas-style {
    height: 290px;
    width: 100%;
}

.chart-container {
    float: left;
    height: 300px;
    margin: 10px;
    max-width: 451px;
    width: 100%;
}

.chart-style {
    float: left;
    height: 300px;
    margin: 10px;
    max-width: 451px;
    width: 100%;
}

.chart-style-center {
    height: 300px;
    margin: 10px auto;
    max-width: 451px;
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #8cad58;
    border: none;
    color: #e9f1dd;
    font-size: 16px;
    padding: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #8cad58;
            color: #e9f1dd;
        }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #848587;
        color: #e9f1dd;
    }

/* Float */
.float {
    align-items: flex-end;
    display: flex;
    float: left;
    height: 100%;
}

/* Navigation Header */
.nav-header {
    background-color: #8CAE5A;
}

/* Style the tab */
.tab {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    overflow: hidden;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        float: left;
        outline: initial;
        padding: 14px 16px;
        transition: transform 0.25s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

    /* Create an active/current tablink class */
    .tab .active {
        background-color: #ccc;
    }

/* Dropdown Button */
.dropbtn {
    background-color: #8cad58;
    border: none;
    color: #e9f1dd;
    font-size: 16px;
    padding: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #8cad58;
            color: #e9f1dd;
        }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #848587;
        color: #e9f1dd;
    }

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Style the tab content */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    border: 1px solid #ccc;
    display: none;
    padding: 6px 12px;
}
